$eden: #114c5f;
$san-marino: #047d96;
$bondi-blue: #0799b6;
$sinbad: #9cd2d3;
$claro: #fdfdfd;
$oscuro: #1d1d1d;

$colores: $eden,$san-marino,$bondi-blue,$sinbad,$claro,$oscuro;
$mapa-colores: (
    eden: $eden,
    san-marino: $san-marino,
    bondi-blue: $bondi-blue,
    sinbad: $sinbad,
    claro: $claro,
    oscuro: $oscuro);



